.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(100px);
    color: white;
    z-index: 10;
}

.navbar .logo-container {
    margin-left: 125px;
}

.navbar .menu-container {
    margin-right: 10px;
}

.menu {
    list-style: none;
    display: flex;
    li {
        margin-left: 20px;
        a {
            color: white;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                color: #4da8da;
            }
        }
    }
}

.menu li{
    margin-left: 50px;
}

.logo-text{
    text-decoration: none;
    color: white;
}