.technologies {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: auto;
    width: 100%;
    height: 100vh;
    padding: 40px 20px;

    h2 {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
    }

    .tech-carousel {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        gap: 30px;
        width: 100%;
        z-index: 1;
        top: 100px;
    }

    .tech-item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, position 0.3s ease-in-out, opacity 0.3s ease-in-out;
        z-index: 1;
        opacity: 0.8;
    }

    .tech-item:hover {
        transform: scale(1.1);
        opacity: 1;
    }

    .tech-item.maximized {
        position: absolute;
        width: 90vw;
        height: 70vh;
        top: 50%;
        left: 50%;
        border-radius: 8px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
        z-index: 5;
    }

    .tech-item.minimized {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 620px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #b0b0b0;
        opacity: 0.7;
        border: 2px solid white;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
        z-index: 5;
    }

    .tech-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
    }

    .tech-info h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .tech-info p {
        font-size: 16px;
        max-width: 150px;
        margin: 0 auto;
    }

    .minimized-items-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        width: 100%;
        min-height: 80px
    }

    .tech-item img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .tech-item.minimized img {
        object-fit: contain;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .tech-item.minimized .tech-info {
        display: none;
    }

    .tech-item.minimized .tech-icon {
        font-size: 24px;
        color: white;
    }
}